{% extends "base.html" %}
{% load static %}
{% load bootstrap4%}
{% block content%}

<!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Appointments</p>
                <h1>Our  Appointments</h1>
            </div>
            <div class="row g-4">
            {% for appointment in appointments%}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{appointment.doctor_image.url}}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>{{appointment}}</h5>
                            <p class="text-primary">{{appointment.section}}</p>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->

{% endblock%}